@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html>

<head>
    <meta name="viewport" content="device-width" />
    <title>ViewBag.Title</title>
</head>

<body>
    <p>

        <img src="~/Images/HomeBike.jpg" id="homeImage"/>

        This trail is now a designated one way from the Lee's Train&copy intersection. 
        There are actually three trails which make up the loop: Horse Creek-Cattle Creek-Lower 
        Twin Lake. Watch that you don't overshoot the switchback to stay on the black diamond 
        descent - the blue route is completely overgrown. Great trail, with amazing views, but may 
        see a lot of traffic. Clear Creek Trail is a fun single track that traverses the hills between 
        Jack's Valley Rd and Highway 50.
    </p>

    <p>
        This is just a brute of a climb. Although it's not technical there are plenty of opportunities 
        to slip in the loose rock and end up with some serious road rash, especially at the speeds you'll 
        be going on the downhills! Sections have the tendency to get rutted out. Highly advise starting 
        from the Mt. The objectives of this project are to promote mountain biking by creating a progressive 
        trail that can be enjoyed by riders of all ages and ability level, and to increase the diversity of 
        riding opportunities, demonstrate innovative and sustainable trail building design and techniques, and 
        provide a model for other land managers for similar types of projects.
    </p>

    <p>
        Immediately the trail drops into medium rollers and doubles, winding it's way back down the 
        mountain with steep downhills, and a brief rolling climb. Brief passing showers are keeping 
        it wet but the sun and wind are trying. Immediately the trail drops into medium rollers and 
        doubles, winding it's way back down the mountain with steep downhills, and a brief rolling climb. 
        Lots of Flow! This 40+ miles ride is packed full of stunning island views.
    </p>

    <p>Lots of Flow! But this trail does not relent for one second. MBoSC has partnered with land manager 
       California Department of Forestry and Fire Protection (CAL FIRE) to build a four mile flow trail in 
       Soquel Demonstration State Forest (SDSF). This created a reroute of the single track. Fast and flowing 
       with big jump options and some pretty crazy gap jumps.
    </p>

    <p>
        You can find everyone out here having fun from people in body armor and downhill bikes to 
        families testing their kids limits to xc racer types riding intervals. You can find everyone 
        out here having fun from people in body armor and downhill bikes to families testing their 
        kids limits to xc racer types riding intervals. Having gotten that out of the way, the Mana 
        Road ride is absolutely beautiful and worth the ride. A trail & parking area reconstruction 
        project completed in July '17. Brief passing showers are keeping it wet but the sun and 
        wind are trying.
    </p>

    <p>
        This trail can be sandy during dry summer months and is best after rain, in the spring or fall. 
        Do not ride when wet and not if you are not a skilled rider. Ridgeline is a crown jewel of Dupont 
        State Recreational Forest. 95% dry and/or grippy. Chewed up, lots of braking bumps, but still fun.
    </p>


</body>

</html>